/* style.css */

#header .navbar {
    border-radius: 0;
}

#source,
#result {
    height: 250px;
}

#editor,
#result-content {
    width: 100%;
    height: 100%;
}

#footer {
    color: #000;
    position: absolute;
    bottom: 0;
    padding: 25px 0;
    left: 0;
    width: 100%;
}
#footer a {
    color: #9d9d9d;
}
